
html {
    background: #fcfcfc;
}
body {
    background: #fff;
}

.output {
    min-height:300px;
}
pre {
	border-radius: 2px;
	font-size: 0.8em;
}

a.cke_button {
	height: auto !important;
}

.ol {
	margin: 0 0 20px 20px;
}

#documentation pre {
	margin: 10px 0;
}

#documentation h3 {
	display: inline-block;
	margin-bottom: 0;
}

#documentation h3 ~ em {
	color: #555;
	display: inline-block;
	font-size: 0.8em;
	margin-bottom: 0.5em;
}

.hide {
	display: none;
}

footer {
    border-top: 1px solid #e5e5e5;
    background: #fcfcfc;
    color: #808080;
	margin-top: 30px;
	padding: 11px 0;
    height:auto;
}
footer .has-tip {
    border-bottom: none;
    cursor: pointer;
}
footer .inline-list {
	margin-bottom: 0;
}