<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>PB | {{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Pierre Baron">
    <meta name="keyword" content="{{page.keywords}}">

    <link rel="shortcut icon" href="{{'/img/favicon.png' | prepend: site.site_url}}">
    <link rel="apple-touch-icon-precomposed" href="{{'/img/favicon.png' | prepend: site.site_url}}">

    <link rel="stylesheet" href="{{'/css/style.css' | prepend : site.base_url}}">

    {% if page.layout == "examples" %}
        <link rel="stylesheet" href="{{'/js/highlighters/google-code-prettify/prettify.css' | prepend : site.base_url}}">
        <link rel="stylesheet" href="{{'/js/highlighters/prism/prism.css' | prepend : site.base_url}}">
    {% endif %}
</head>