<section>
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <ul class="nav nav-pills">
                    {% for link in site.subnavigation %}
                    {% assign current = nil %}
                    {% if link.text == page.submenu %}
                    {% assign current = 'active' %}
                    {% endif %}

                    {% if link.dropdown %}
                    <li class="dropdown {{current}}">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            {{ link.text }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu">
                            {% for l in link.dropdown %}
                            <li>
                                <a href="{{ link.url | prepend: site.base_url}}{{ l.url }}">
                                    {% if l.label %}
                                        <span class="label label-success pull-right">{{l.label}}</span>
                                    {% endif %}

                                    {{ l.text }}
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% else %}
                    <li class="{{current}}">
                        <a href="{{ link.url | prepend: site.base_url}}">{{ link.text }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                    <li>
                        <a href="https://github.com/prbaron/pbckcode">
                            <i class="fa fa-code-fork"></i> Fork it on GitHub !
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>
