<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}

{{ content }}

{% include footer.html %}

{% include analytics.html %}

<script src="{{'/js/vendor.all.js' | prepend: site.base_url}}"></script>
<script src="{{'/js/app.js' | prepend: site.base_url}}"></script>

<script src="{{'/js/ckeditor-4.4.3/ckeditor.js' | prepend: site.base_url}}"></script>

{% assign prepend = '/js/highlighters'| prepend: site.base_url %}
{% if page.highlighter %}
    <script src="{{page.highlighter | prepend:prepend}}"></script>
{% endif %}
<script src="{{page.example | prepend: site.base_url}}"></script>

</body>
</html>