<!DOCTYPE html>
<html lang="en">
{% include head.html %}
<body>

{% include header.html %}

{{ content }}

{% include footer.html %}

{% include analytics.html %}

<script src="{{'/js/vendor.all.js' | prepend: site.base_url}}"></script>
<script src="{{'/js/app.js' | prepend: site.base_url}}"></script>

<script src="{{'/js/ckeditor-4.3.2/ckeditor.js' | prepend: site.base_url}}"></script>

{% assign prepend = '/js/highlighters'| prepend: site.base_url %}
{% if page.highlighter %}
    <script src="{{page.highlighter | prepend:prepend}}"></script>
{% endif %}
<!--<script src="{{'/js/highlighters/prism/prism.js' | prepend: site.base_url}}"></script>-->
<!--<script src="{{'/js/highlighters/highlightjs/highlight.pack.js' | prepend: site.base_url}}"></script>-->
<!--<script src="{{'/js/highlighters/syntaxhighlighter/scripts/shCore.js' | prepend: site.base_url}}"></script>-->
<!--<script src="{{'/js/highlighters/syntaxhighlighter/scripts/shBrushPhp.js' | prepend: site.base_url}}"></script>-->
<script src="{{'/js/examples.js' | prepend: site.base_url}}"></script>

</body>
</html>
